*{
    margin: 0;
    padding: 0;
}

.chelsea-market-regular {
    font-family: "Chelsea Market", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    font-family: "Chelsea Market", system-ui;
    background-color: rgba(167, 233, 218, 0.656);
}

form{
    background-color:azure;
    width: 100%;
}

section{
    display: flex;
    flex-direction: row;
}

.flex-container {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.form-column{
    display:flex;
    flex-direction: column;
}

.form-column > p{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.center-vertical{
    justify-content: center;
}


img {
    width: 45%;
}