*{
    margin: 0;
    padding: 0;
}

.gloria-hallelujah-regular {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Gloria Hallelujah", cursive;
    background-color: rgba(167, 233, 218, 0.656);
}

form{
    background-color:azure;
}

section{
    display: flex;
    flex-direction: row;
}

.flex-container {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.center-vertical{
    justify-content: center;
}


img {
    width: 45%;
}