.gloria-hallelujah-regular {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

.test{
    background-color: pink;
    font-family: "Gloria Hallelujah", cursive;
}